<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {
		position: absolute;
		text-align: center;
		padding: 20px;
		margin: 10px;
		font: 12px sans-serif;
		background: lightsteelblue;
		border: 1px;
		border-radius: 2px;
		pointer-events: none;
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}

    </style>

    <title>BeTheChange</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- W3  CSS -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BeTheChange</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">BeTheChange</h1>
                <i class="fa fa-globe fa-4x sr-icons"></i>
                <hr>
                <p>Predict success of a change.org petition</p>
                <form action="/dashboard" style="color: black;" method='POST'>
                    <input type='text' name="petition_url" class="w3-input w3-border w3-round-large"
                           width="575" align="right" placeholder='Paste your petition url'>
                    </input

                </form>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Similar Petitions</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center" style="height: 100px;" >
                    <script src="https://d18kwxxua7ik1y.cloudfront.net/product/embeds/v1/change-embeds.js"
                            type="text/javascript"></script>
                    <div class="change-embed-petition" data-petition-id="2713536"></div>
                    <br />
                    <p>100%</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <script src="https://d18kwxxua7ik1y.cloudfront.net/product/embeds/v1/change-embeds.js"
                            type="text/javascript"></script>
                    <div class="change-embed-petition" data-petition-id="847313"></div>
                    <br />
                    <p>85%</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <script src="https://d18kwxxua7ik1y.cloudfront.net/product/embeds/v1/change-embeds.js"
                            type="text/javascript"></script>
                    <div class="change-embed-petition" data-petition-id="1108545">37%</div>
                    <br />
                    <p>95%</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <script src="https://d18kwxxua7ik1y.cloudfront.net/product/embeds/v1/change-embeds.js"
                            type="text/javascript"></script>
                    <div class="change-embed-petition" data-petition-id="2738591">77%</div>
                     <br />
                    <p>37%</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class = "bf-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technical Details</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        <h3>Mongo DB</h3>
                        <p class="text-muted">NoSQL</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cubes text-primary sr-icons"></i>
                        <h3>Python</h3>
                        <p class="text-muted">Scipy, Numpy, Pandas...</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud text-primary sr-icons"></i>
                        <h3>AWS</h3>
                        <p class="text-muted">EC2, Spark</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Machine Learning</h3>
                        <p class="text-muted">Random Forest, NLP</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Methodologies</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-grab-o text-primary sr-icons"></i>
                        <h3>CRISP-DM</h3>
                        <p class="text-muted">Business Understanding, EDA, Modeling, Evaluation, Deployment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-pointer-o text-primary sr-icons"></i>
                        <h3>Agile</h3>
                        <p class="text-muted">Scrum, TDD (red/green/refactor)</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-peace-o text-primary sr-icons"></i>
                        <h3>KISS</h3>
                        <p class="text-muted">Keep It Simple Stupid</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-spock-o text-primary sr-icons"></i>
                        <h3>DRY</h3>
                        <p class="text-muted">Don't repeat yourself</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    </section>

    <section class="bg-dark" id="portfolio">
        <div class="container text-center">
            <div class="row no-gutter popup-gallery">
                <h2>Change.org petitions in the US</h2>
                <div id="tooltip"></div><!-- div to hold tooltip. -->
                <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
                <script src="http://bl.ocks.org/NPashaP/raw/a74faf20b492ad377312/3513ad985b2fa93ea35f2fc864cb30540c298171/uStates.js"></script>
                <!-- creates uStates. -->
                <script src="http://d3js.org/d3.v3.min.js"></script>
                <script>

        function tooltipHtml(n, d){	/* function to create html content string in tooltip div. */
            return "<h4>"+n+"</h4><table>"+
                "<tr><td>Closed</td><td>"+(d.low)+"</td></tr>"+
                "<tr><td>Victories</td><td>"+(d.avg)+"</td></tr>"+
                "<tr><td>Confirmed Victories</td><td>"+(d.high)+"</td></tr>"+
                "</table>";
        }

        var sampleData ={};	/* Sample random data. */
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH",
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT",
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN",
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){
                var low=Math.round(100*Math.random()),
                    mid=Math.round(100*Math.random()),
                    high=Math.round(100*Math.random());
                sampleData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]),
                        avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#800026")(low/100)};
            });




        /* draw states on id #statesvg */
        uStates.draw("#statesvg", sampleData, tooltipHtml);

        d3.select(self.frameElement).style("height", "600px");

                </script>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
        </div>
    </aside>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Stay In Touch!</h2>
                    <hr class="primary">
                    <p>Any questions about this project?</p>
                    <p>Can my Data Scientist superpowers be useful for you?</p>

                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <i class="fa fa-linkedin fa-3x sr-contact" ></i>
                    <p><a href="https://www.linkedin.com/in/nataliemoraes">nataliemoraes</a></p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <i class="fa fa-envelope fa-3x sr-contact"></i>
                    <p><a href="mailto:natalie.moraes.munter@gmail.com">natalie.moraes.munter</a></p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <i class="fa fa-twitter fa-3x sr-contact"></i>
                    <p><a href="https://twitter.com/nmoraesmunter">@nmoraesmunter</a></p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <i class="fa fa-github fa-3x sr-contact"></i>
                    <p><a href="https://github.com/nmoraesmunter">nmoraesmunter</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/creative.min.js"></script>

</body>

</html>
